.lead__image {
  margin: 64px auto 0;
  max-width: 984px;
  max-height: 100%;
  object-fit: cover;
  display: block;
  width: 100%;
}

@media screen and (max-width: 1024px){
  .lead__image {
    margin: 56px auto 0;
    max-width: 928px;
  }
}

@media screen and (max-width: 768px){
  .lead__image {
    margin: 56px 0 0;
  }
}

@media screen and (max-width: 360px){
  .lead__image {
    margin: 40px 0 0;
  }
}
