.lead__subtitle {
  text-align: center;
  margin: 32px auto 0;
  max-width: 640px;
  font-size: 30px;
  line-height: 120%;
  font-style: normal;
  font-weight: normal;
}

@media screen and (max-width: 720px){
  .lead__subtitle {
    font-size: 28px;
  }
}

@media screen and (max-width: 540px){
  .lead__subtitle {
    font-size: 24px;
  }
}

@media screen and (max-width: 414px){
  .lead__subtitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 320px){
  .lead__subtitle {
    margin: 16px auto 0;
    font-size: 16px;
    line-height: 125%;
    max-width: 288px;
  }
}
