.cover__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 740px;
  max-width: 100%;
  position: relative;
  background-image: url(../image/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  text-decoration: none;
  color: #ffffff;
  z-index: 0;
}

.cover__overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2A2C2F;
  opacity: 0.3;
  transition: 0.3s opacity ease-in-out;
  }

.cover__overlay:hover::before {
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media (max-width: 320px) {
  .cover__overlay {
    min-height: 200px;
  }
}
