.places__url-heading {
  color: #aaaaaa;
  font-size: 12px;
  line-height: 100%;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.2em;
  margin: 0 0 12px;
  text-transform: uppercase;
}
